<div id='aspects-mini' class="aspects-mini">
  <h1 class='header'>Aspectos</h1>
    <div class="pad">
      {{#if data.aspects}}
          {{#each data.aspects}}
              <div>
                  <label>
                      <div class="extra-info" style="margin-bottom: 4px"  data-info="{{this.notes}}">{{this.name}}</div>
                  </label>
              </div>
          {{/each}}
      {{/if}}
    </div>

    {{#if data.DP.value }}
        <div>
            <label>Puntos de destino</label>
            <input
                    name="data.DP.value" type="text" value="{{data.DP.value}}" data-dtype="Number" />
            <input type="button" style='margin-top: 4px' class="usePool" data-type="DP" value="Gastar" />
        </div>
    {{/if}}
</div>