<style>
    .sheet-spheres {
        flex-wrap: wrap; !important;
        display: flex; !important;
        width: 100%; !important;
        justify-content: space-between; !important;
    }

    .sheet-spheres > div {
        width: calc((100% / 3) - 10px);
        text-align: center;
    }

    .sheet-spheres label {
        font-size: 20px;
    }

    .info_container {
        margin-bottom: 20px;
    }
    .info_title {
        font-size:16px;
        font-weight: bold;
        margin-top:20px;
        margin-bottom:20px;
    }

    .info_notes {
        font-size:14px;
        white-space: pre-line;
    }

    .header_title {
        margin-top: 20px;
    }


</style>
<script>
    $('#aspects .info_title').click((evt) => {
        $(evt.target).parent().find('.info_notes').toggle();
    });
</script>
<div id='aspects'>
    <h1 class='header_title'>Aspectos</h1>
    {{#if data.aspects}}
        {{#each data.aspects}}
            <div>
                <label>
                    <div  style='font-size:20px' class='info_title'>{{this.name}}</div>
                    <p class="info_notes">{{this.note}}</p>
                </label>
            </div>
        {{/each}}
    {{/if}}
</div>
