<div id="erebo-points" class='field-block4-erebo-points'>
    <div class="isABox">
        <div class='label-centered'>Puntos vida</div>
        <input class="field-centered"
               name="data.HP.value" type="text" value="{{data.HP.value}}" data-dtype="Number"/>
    </div>

    <div class="isABox">
        <div class='label-centered'>Puntos fatiga</div>
        <input class="field-centered"
               name="data.FP.value" type="text" value="{{data.FP.value}}" data-dtype="Number"/>
    </div>



    <div class="isABox">
        <div class='label-centered'>Movimiento</div>
        <div class='field-centered '>{{data.currentmove}}</div>
    </div>

    <div class="isABox">
        <div class='label-centered'>Velocidad</div>
        <div class='field-centered '>{{data.basicspeed.value}}</div>
    </div>
</div>