<div id="erebo-points">
    {{>divider}}
    <div  class='field-block4-mage-ascension-points'>
        <div class="isABox">
            <div class='label-centered'>Puntos de vida</div>
            <input class="field-centered"
                   name="data.HP.value" type="text" value="{{data.HP.value}}" data-dtype="Number"/>
        </div>

        <div class="isABox">
            <div class='label-centered'>Puntos de fatiga</div>
            <input class="field-centered"
                   name="data.FP.value" type="text" value="{{data.FP.value}}" data-dtype="Number"/>
        </div>


        <div class="isABox">
            <div class='label-centered'>Movimiento</div>
            <div class='field-centered '>{{data.currentmove}}</div>
        </div>

        <div class="isABox">
            <div class='label-centered'>Velocidad</div>
            <div class='field-centered '>{{data.basicspeed.value}}</div>
        </div>
    </div>
</div>