{{#if data.descriptions}}
    <div id='descriptions-mini' class="descriptions-mini">
        <div class="pad">
          {{#if data.descriptions}}
              {{#each data.descriptions}}
                  <div class="list">
                          <div style="padding-left: 5px">({{this.notes}})</div>
                  </div>
              {{/each}}
          {{/if}}
        </div>
    </div>
{{/if}}