<div class="triple-diamond-deco-container diamond-container">
    <div class="left-line"></div>
    <div class="right-line"></div>
    <div class="small-diamond-left"></div>
    <div class="small-diamond-right"></div>
    <div class="large-diamond"></div>
</div>