<div id='languages-mini' class="languages-mini">
  <h1 class='header'>Idiomas</h1>
    <div class="pad">
      {{#if data.languages}}
          {{#each data.languages}}
              <div class="list">
                      <div style="">{{this.name}}</div>
                      <div style="padding-left: 5px; font-size: var(--font-size-small)">{{this.notes}}</div>
              </div>
          {{/each}}
      {{/if}}
    </div>
</div>