<div id="pool-vampire" class="pool-vampire">
    <div class="header">Reservas de magia</div>
    <div class="pool">
        <div>
        <label>Puntos de sangre</label>
        <input
                name="data.BP.value" type="text" value="{{data.BP.value}}" data-dtype="Number" />
        </div>
        <div>
        <label>Voluntad</label>
        <input
                name="data.VOL.value" type="text" value="{{data.VOL.value}}" data-dtype="Number" />
        </div>
        <div>
        <label>Paradoja</label>
        <input
                name="data.PX.value" type="text" value="{{data.PX.value}}" data-dtype="Number" />
        </div>
    </div>
</div>