<div id="pool-vampire" class="pool-vampire">
    <div class="header">Reservas de magia</div>
    <div class="pool">
        <div>
        <label>Puntos de sangre</label>
        <input
                name="data.BP.value" type="text" value="{{data.BP.value}}" data-dtype="Number" />
                <input type="button" style='margin-top: 4px' class="usePool" data-type="PB" value="Gastar" />
        </div>
        <div>
        <label>Voluntad</label>
        <input
                name="data.VOL.value" type="text" value="{{data.VOL.value}}" data-dtype="Number" />
            <input type="button" style='margin-top: 4px' class="usePool" data-type="VOL" value="Gastar" />
        </div>
    </div>
</div>